.Marker {
    width: 80px;
    height: 80px;
    background-color: #20CEFE;
}

svg {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-align: center;
}

.leaflet-container {
    height: 100vh;
}